.amenities_container{
    display: flex;
    height: 100%;
    width: auto;
    justify-content: flex-start;
    background-image: url('/public/assets/background_amenities.jpg'); /* Ruta relativa a la imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área completa del componente */
    background-position: center;
    border-radius: 50px 50px 0px 0px;
    margin-top: 40px;
    font-family: 'Helvetica';
    flex-direction: column;
}

.title{
    color: black;
    font-size: 30px;
}

.paragraph{
    color: black;
    font-size: 15px;
    margin: 10px 65px;
    font-weight:bold;
}

.amenities_icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.icon{
    height: 180px;
    margin: 0px;
}

.item_title{
    background-color: rgb(128, 165, 153);
    margin: 0px 20px;
    font-size: 20px;
    border-radius: 10px;
    color: black;
    font-weight: 700px;
    padding: 5px;
}

.item_quantity{
    background-color: rgb(128, 165, 153);
    margin: 5px;
    width: 50px;
    font-size: 20px;
    border-radius: 10px;
    color: black;
    font-weight: 700px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

